
 * {
    box-sizing: border-box;
  }

            /**********************Map***************************/
            
#map {
    height: 400px;
    width: 100%;
  }

 
        /******************Search Bar**********************/

  form.window input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  form.window button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  
  form.window button:hover {
    background: #0b7dda;
  }
  
  form.window::after {
    content: "";
    clear: both;
    display: table;
  }

        /************************Info Window********************/

.green {
    background: green;
}
.yellow{
    background: yellow;
}
.orange {
    background-color: orange;
}
.red {
    background-color: red;
}
.purple {
    background-color: purple;
}
.really-red {
    background-color: #7E0322;
}


        /************************Forecast***********************/

.info {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  .info td, .info th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .info tr:nth-child(even){background-color: #f2f2f2;}
  
  .info tr:hover {background-color: #ddd;}
  
  .info th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }